@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

#root {
    height: 100vh;
    color: white;
    font-family: 'Lato', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,158,233,1) 50%, rgba(2,0,36,1) 100%);
}